/* line 11, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.topHeader {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: -0.5px;
  width: 100vw; }

/*Changes to hidden for DK*/
/* line 19, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
#hamburgerButton {
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  height: 2em;
  width: 0.7em;
  z-index: 2; }

@media all and (min-width: 768px) {
  /* line 30, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  #hamburgerButton {
    display: none; } }

/* line 35, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.logo {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent, rgba(0, 0, 0, 0.8)), url(/img/himg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  /*to row for DT*/
  align-items: center;
  /*to flex-star for DK*/
  transition: background-image 1s ease;
  padding: 1em;
  padding-bottom: 20em;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  margin-bottom: -2em; }
  /* line 51, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .logo:before {
    content: "\0020";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent, rgba(0, 0, 0, 0.8));
    width: 100%;
    position: absolute;
    height: 115%;
    top: 0;
    left: 0;
    z-index: 0; }

@media (-webkit-min-device-pixel-ratio: 2) {
  /* line 65, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .logo {
    background-attachment: scroll; } }

/* line 72, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.not-home .logo {
  padding-bottom: 8em;
  clip-path: none;
  -webkit-clip-path: none; }

@media all and (min-width: 768px) {
  /* line 81, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .logo {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.2em;
    padding-bottom: 20em;
    clip-path: none;
    -webkit-clip-path: none;
    margin-bottom: 0; }
    /* line 89, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
    .logo:before {
      height: 100%; }
  /* line 95, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .not-home .logo {
    padding-bottom: 10em; } }

/* line 99, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.catLogo {
  width: 4em;
  height: 4em;
  flex-shrink: 1;
  z-index: 3;
  position: relative; }

@media all and (min-width: 768px) {
  /* line 108, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .catLogo {
    z-index: 2;
    height: 9em;
    width: 9em;
    margin-right: 0.8em; } }

/* line 116, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.catName {
  height: 1.05em;
  font-size: 1.4em;
  -webkit-filter: drop-shadow(2px 2px 2px black);
  filter: drop-shadow(2px 2px 2px black);
  text-shadow: 10px 10px black;
  color: white;
  font-weight: 300;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); }

@media all and (min-width: 768px) {
  /* line 128, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .catName {
    height: 1.05em;
    font-size: 2em;
    position: relative;
    top: 16px;
    text-shadow: none; } }

/* line 137, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.no-scroll {
  overflow: hidden;
  height: 200px; }
  /* line 141, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .no-scroll main, .no-scroll footer.pie {
    display: none; }

/* line 145, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.disable main, .disable footer {
  display: none; }

/* line 150, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.menu {
  background: #fefefe;
  color: #BA0000;
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  top: 0;
  left: 100vw;
  transition: left 0.3s ease-in-out;
  z-index: 3; }
  /* line 161, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .menu h1, .menu h2, .menu h3 {
    text-align: center; }

@media all and (min-width: 768px) {
  /* line 165, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .menu {
    left: 0;
    top: 6.88em;
    width: 100vw;
    position: relative;
    overflow-y: visible;
    height: auto;
    background: #BA0000;
    z-index: 1; } }

/* line 177, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
#closeButton {
  width: 0.9em;
  float: right;
  margin: 1.6em 1.1em 0 0;
  cursor: pointer; }

@media all and (min-width: 768px) {
  /* line 185, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  #closeButton {
    display: none; } }

/* line 190, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.menu.show {
  left: 0; }

/* line 194, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.menu h2 {
  background: #BA0000;
  color: white;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 400;
  padding: 1em; }

/* line 203, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.menu h2:nth-child(2) {
  background: #0A1A6A; }

/* line 207, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.menu h2 img {
  height: 1em;
  width: 1em;
  margin-right: 0.4em;
  vertical-align: text-bottom; }

/* line 214, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.mainList, .quicklinks {
  background: white;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }

@media all and (min-width: 768px) {
  /* line 224, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .mainList {
    background: #BA0000;
    position: static;
    flex-wrap: nowrap;
    position: static;
    display: flex;
    position: static;
    flex-flow: row; } }

/* line 235, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.mainLink {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: 1px solid #F5F5F5;
  display: inline-block;
  padding: 1em 0 0 0;
  margin: 0em;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10; }

@media all and (min-width: 768px) {
  /* line 249, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .mainLink {
    font-size: 1em;
    font-weight: 500;
    padding: 0.5em;
    margin: 0 1.1em;
    border: 0; } }

/* line 259, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.mainLink:not(.ql) {
  width: 100vw;
  color: #BA0000;
  /*MAIN RED*/ }

@media all and (min-width: 768px) {
  /* line 265, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .mainLink:not(.ql) {
    width: auto;
    color: white; } }

/* line 271, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.mainLink.ql {
  width: 50vw;
  font-size: 1.1em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  padding: 1em;
  box-sizing: border-box;
  color: #0A1A6A;
  /*MAIN BLUE*/ }

@media all and (min-width: 768px) {
  /* line 281, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .menu h2 {
    display: none; }
  /* line 285, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .mainLink.ql {
    padding: 1em 0;
    margin: 0;
    width: 17em;
    font-size: 1em;
    color: #0A1A6A;
    transition: all 0.3s; }
  /* line 294, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .mainLink.ql:hover {
    background: #0A1A6A;
    color: white; } }

@media all and (max-width: 768px) {
  /* line 301, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .mainLink.ql:nth-child(odd) {
    border-right: 2px solid #f5f5f5; } }

/*Hide inner menus (dropdowns) for mobile view*/
/* line 307, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.nav-resources, .nav-social {
  display: none; }

/* line 311, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.innerMenu {
  overflow-y: hidden;
  max-height: 0;
  font-weight: 300;
  font-size: 0.9em;
  margin: 0.5em 0 0 0;
  border-top: 1px solid #f5f5f5; }

/* line 322, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.accordion {
  background: rgba(186, 0, 0, 0.8);
  color: white; }
  /* line 326, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .accordion a {
    color: white; }
  /* line 330, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .accordion .innerMenu {
    background: white;
    max-height: 15em; }
    /* line 334, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
    .accordion .innerMenu a {
      color: #BA0000; }

/* line 345, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
.innerMenu li {
  padding: 0.3em 0;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  border-bottom: 1px solid #F5F5F5;
  padding: 1em;
  margin: 0em;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10; }

@media all and (min-width: 768px) {
  /* line 359, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .nav-wrapper, .innerMenu, .nav-resources, .nav-social {
    display: flex;
    position: absolute;
    right: 0; }
  /* line 365, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .nav-wrapper {
    top: 0; }
  /* line 369, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .nav-resources {
    color: white;
    text-transform: uppercase;
    height: 4.2em;
    width: 17em;
    background: #0A1A6A;
    padding: 0.8em 0;
    top: 0; }
  /* line 379, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .nav-resources::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 2.3em solid transparent;
    border-right: 2.3em solid transparent;
    border-top: 4.2em solid #0A1A6A;
    position: absolute;
    top: 0;
    left: -2.27em;
    z-index: 1; }
  /* line 392, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .nav-resources ul {
    margin: 0 auto;
    display: flex;
    text-align: center; }
  /* line 398, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .nav-resources ul li {
    font-size: 0.6em;
    padding: 0 1em;
    line-height: 1.5em;
    z-index: 3; }
  /* line 404, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .resourceImg {
    font-size: 3.1em; }
  /* line 408, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .nav-resources a:hover {
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s; }
  /* line 413, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .nav-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10em;
    padding: 0.45em;
    /* height: 1.8em; */
    top: 4.2em;
    background: white; }
  /* line 424, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .nav-social::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 1.5em solid transparent;
    border-right: 2px solid transparent;
    border-top: 2.7em solid white;
    position: absolute;
    top: 0em;
    left: -1.5em; }
  /* line 436, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .nav-social .socialIcon::before {
    font-size: 1.7em; }
  /* line 440, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .nav-social {
    /* width: 1.5em; */ }
  /* line 444, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .innerMenu {
    width: 100vw;
    background: white;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    top: 3.05em;
    padding: 0;
    left: 0;
    opacity: 0;
    z-index: -10;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.5s; }
  /* line 463, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .mainLink:hover .innerMenu {
    overflow-y: visible;
    padding: 0.9em;
    top: 2.05em;
    max-height: 2em;
    opacity: 1; }
  /* line 472, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  #about::before, #academics::before, #campusLife::before, #joinUs::before {
    content: "";
    width: 0;
    height: 0;
    z-index: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid white;
    position: relative; }
  /* line 483, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  #about::before {
    left: 11.2em;
    bottom: 1.2em; }
  /* line 488, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  #academics::before {
    left: 15.7em;
    bottom: 1.2em; }
  /* line 493, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  #campusLife::before {
    left: 30.5em;
    bottom: 1.2em; }
  /* line 498, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  #joinUs::before {
    left: 24em;
    bottom: 1.3em; }
  /* line 503, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  #about::after, #academics::after, #campusLife::after, #joinUs::after {
    content: "";
    width: 100%;
    height: 25px;
    background: transparent;
    position: absolute;
    z-index: 0;
    top: 30px; } }

@media all and (min-width: 768px) and (max-width: 820px) {
  /* line 514, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  #campusLife::before {
    bottom: 1.5em;
    left: 29.3em; }
  /* line 519, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .mainLink:hover .innerMenu {
    padding: 1.35em; }
  /* line 523, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  #about::before, #academics::before, #campusLife::before, #joinUs::before {
    bottom: 1.5em; } }

@media all and (min-width: 768px) {
  /* line 529, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .innerMenu a {
    font-weight: 700;
    margin: 0.4em 0.8em;
    display: inline-block;
    color: #BA0000; }
  /* line 537, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .innerMenu li:hover {
    background: rgba(0, 0, 0, 0.075); }
  /* line 541, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .innerMenu li:hover a {
    color: #e00000; }
  /* line 546, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .quicklinks {
    position: absolute;
    flex-flow: column;
    top: -2.7em;
    right: 0em;
    max-height: 0;
    background: white;
    overflow-y: hidden;
    transition: all 0.5s;
    z-index: 11; }
  /* line 558, /Users/XxVaLentAlvxX/Documents/Git Clones/CAT-Website/css/header.scss */
  .quicklinks.expand {
    max-height: 12.5em; } }

/*# sourceMappingURL=header.css.map */