$red: #A00000;
$blue: #0A1A6A;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font: 16px/18px 'Ubuntu', sans-serif;
}

.news-content {
    padding: 40px;

    .news-header {
        color: $red;
        font-size: 4em;
        text-transform: uppercase;
        text-align: right;
    }

    .news-meta {
        margin-top: 20px;
        text-transform: uppercase;
        font-size: 1.8em;
    }

    .news-title {
        margin: 10px 0 10px 0;
        text-transform: uppercase;
        font-size: 1.8em;
    }

    .news-text {
        line-height: 1.6em;
    }

    .news-more {
        display: block;
        text-align: right;
        margin-top: 40px;
        text-transform: uppercase;
        color: $red;
        text-decoration: none;
    }
}

.news-image {
    margin-top: -85px;
    -webkit-clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 100%);

    img {
        width: 100%;
        display: block;
    }
}

@media screen and (min-width: 500px) {
    .news-text {
        font-size: 1.2em;
        line-height: 0.2em;
    }
}

@media screen and (min-width: 800px) {
    .news-more {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 1300px) {
    .news {
        display: flex;

        .news-content {
            flex: 1 1 40%;

            .news-header {
                text-align: left;
                font-size: 3em;
            }

            .news-meta {
                font-size: 1.4em;
            }

            .news-title {
                font-size: 1.4em;
            }

            .news-more {
                margin-right: -80px;
            }
        }

        .news-image {
            flex: 2 2 60%;
            display: flex;
            margin: 0 0 0 -80px;
            -webkit-clip-path: polygon(4% 0, 100% 0%, 100% 100%, 21% 100%);
            clip-path: polygon(4% 0, 100% 0%, 100% 100%, 21% 100%);
        }
    }
}
