$p-font: 'Ubuntu', sans-serif;
$font-line-height: 1.5em !default;
$font-base-size: 1rem !default;

$ech: $orange;
$es: $teal;
$hs: $green;
$all: $blue3;


.btn {font-family:Ubuntu;}

.eventscal {
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
	max-height:22em;
}

.cal{
	padding: 10px;
	padding: 10px;
	color: #9d9d9d;
	flex-grow:1;
}

.cal caption{
	color: #fefefe;
	background:$red;
	margin: 0; padding:0.65em 1em 0 1em;
	text-align: justify;
	font-size:1.5em;

	span, a{
		display: inline-block;
		font-weight: 200;
		text-align: center;
		color:#fefefe;
		text-decoration:none;
	}

	&::after{
		content: '\00A0';
		display: inline-block;
		width: 100%;
	}
}

.cal-weekdays {
	font-weight: normal;
	font-size: 1.25em;
	color:$red2;
}

td{
	font-weight: normal;
	text-align: center;

	&.cal-today span {
		background: lighten($red,40);
		border-radius: 30px;
		color:#fefefe;
		font-weight:600;
	}

}


td > span{
	display: inline-block;
	text-align: center;
	padding: 0.65em; margin: 0px;
	min-width:1.15em;
	border:4px solid transparent;

	&:hover {
		background:#eee;
		border-radius:30px;
	}

	&.evt-ech {
		border: 4px solid $orange;
		border-radius: 30px;
	}

	&.evt-es {
		border: 4px solid $teal;
		border-radius: 30px;
	}

	&.evt-hs {
		border: 4px solid $green;
		border-radius: 30px;
	}

	&.evt-all {
		border: 4px solid $blue3;
		border-radius: 30px;
	}

}

.cal-sched{
	flex-grow:0;
	max-height:22em;
	overflow-x:scroll;
	margin: 0;
	background:#ddd;
	padding:0 3em 0 0;
}

.cal-sched-list{
	padding: 20px;
	margin-left: 40px;
	border-left: 2px solid #aaa;
	color:#fefefe;
	display: block;
}

.cal-sched-item {
	display: block;
	margin-bottom:5px;
	padding: 0;
	clear: both;
	min-height: 100px;
	overflow: visible;

	&:last-child{
		margin-bottom: 5px;
		min-height: 30px;
	}

	&.evt-ech .cal-sched-meta {border-color:$orange;}
	&.evt-es .cal-sched-meta {border-color:$teal;}
	&.evt-hs .cal-sched-meta {border-color:$green;}
	&.evt-all .cal-sched-meta {border-color:$blue3;}

	.cal-sched-meta {
		display: block;
		float: left;
		margin-left: -50px;
		width: 50px; height: 50px;
		border: 4px solid #ccc;
		background:#fefefe;
		color:$blue;
		border-radius: 40px;
		text-align: center;
		padding: 0px;

		.cal-sched-date {
			font-size: 1.6em;
			font-weight:900;
			margin-top:10px;
			margin-bottom:-3px;
			display: block;
		}

		.cal-sched-time {
			font-size:0.75em;
			font-weight:300;
		}
	}

	.cal-sched-desc{
		display: block;
		float: left;
		margin-top:10px;
		margin-left:1em;
		overflow: visible;
		color:$blue;

		h1 {font-size:1.25em; margin:0;}
		p {
			font-size:0.75em;
			margin: 0;
			color:$blue3;
		}
	}
}


.article {
	padding:0 2em 0.5em;
	border-bottom:1px solid #ccc;
	margin:1em 2em;

	header {
		background:$blue;
		padding:0 2em;
		color:#fefefe;
		margin-left:-2em;
		margin-right:-2em;
		-webkit-clip-path: polygon(0 0, 100% 0, 99% 100%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 99% 100%, 0 100%);
	}

	.news-headline {
		padding:0.5em 0;
		display:inline-block;
		margin:0;
		font-weight:400;
	}

	.news-meta {
		display:inline-block;
		color:lighten($blue,60);
		padding:0.5em 0;
		margin:0 0 0 1.5em;
		font-size:0.95em;
		text-transform: uppercase;
	}

	.news-content {
		font-size:0.95em;
		line-height:1.75em;
	}

}

.page-title {
	display:inline-block;
	left:0;
	background:$red;
	padding:0 3em 0 2vw;
	font-size:2em;
	line-height:1.75em;
	color:#fefefe;
	font-weight:500;
	-webkit-clip-path: polygon(0 0, 100% 0, 96% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 96% 100%, 0 100%);
	margin:0 0 0 -1vw;
	border:0;
}

.page-subtitle {
	color:$red;
	font-size:1.65em;
	line-height:1.5em;
	margin:0 0 1em 1vw;
	font-weight:600;
	font-style: italic;

}

@media all and (min-width: 768px){
	main.inside {
		display:flex;
		flex-flow:row wrap;

		.inside-content {
			flex-basis: 70%;
		}
		.inside-supporting {
			flex-basis: 30%;
			margin-top:5.5em;
		}

	}
}

.content {
	margin: 2em 0;

	h1, h2, h3, h4, h5 {font-weight:500; margin-top:0; padding:0 0 0 1.5vw;}
	h1 {font-size:1.75em;line-height:1.5em; padding:0 5em 0 1.5vw; color:$blue; border-bottom:4px solid $blue;display:inline-block;}
	h2 {font-size:1.5em; line-height:1.3em; color:$red2;}
	h3 {font-size:1.3em; line-height:1.1em; color:$blue2;}
	h4 {font-size:1.1em; line-height:0.9em; color:$blue2;}
	h5 {font-size:1em; line-height:0.75em; color:$blue3;}

	.page-hero {font-size:1.05em; line-height:1.5em; padding:1 4em; font-weight:500; color:$blue; font-style:italic;}

	p {padding:0.5em 1em; font-size:1em; line-height:1.75em; font-weight:400;}

	blockquote {
	  position: relative;
	  margin: 2em 3em;
	  font-size:1.1em;
	  line-height: 1.3em;

	  &:nth-of-type(even) {
		  padding:0.5em 0 0.5em 1.5em;
		  border-left: 4px solid $red2;
		  float:left;
	  }

	  &:nth-of-type(odd) {
		  padding:0.5em 1.5em 0.5em 0;
		  border-right: 4px solid $red2;
		  float:right;
	  }

	}

	@media all and (min-width: 768px){
		p {padding:0.5em 2.5em; font-size:1em; line-height:1.75em; font-weight:400;}
		blockquote {width:400px;}
	}

}


.aside {
	background:#eee;
	margin:1em;

	@media all and (min-width: 768px){
		margin:1em 2em 1em 0;
	}



	.aside-title {
		padding:0.5em 1em;
		font-size:1.25em;
		line-height:1em;
		color:#fefefe;
		font-weight:400;
		margin:0;
	}

	.aside-content {
	    padding: 1em 2em;
	    font-size: 0.85em;
	    line-height: 1.75em;
	}

	&:nth-of-type(3n+1) .aside-title {
		background:$green;
		}
	&:nth-of-type(3n+2) .aside-title {
		background:$orange;
	}
	&:nth-of-type(3n+3) .aside-title {
		background:$teal;
	}
}

.aside-picture {background:none; width:auto; text-align: center;}

.image-single {
	max-width: 100%;

	&:nth-of-type(even) {
		-webkit-clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
	}

	&:nth-of-type(odd) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 2% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 2% 100%);
	}

}

.image {
	background:#eee;
	margin:1em;

	figcaption {
		padding:1em 2.65em;
		font-size:0.8em;
		line-height:1em;
	}

	&:nth-of-type(even) {
		-webkit-clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
	}

	&:nth-of-type(odd) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 2% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 2% 100%);
	}
}

.btn {
	background:$red;
	color:#fefefe;
	font-size:1em;
	text-transform:uppercase;
	font-weight:400;
	border:0;
	padding:.5em 1.25em;

	&:hover {
		cursor:pointer;
	}

	&-big {
		font-size:1.5em;
	}

	&-small {
		font-size:0.75em;
	}

	&-alt {
		background:$blue;
	}
}

